
<div class="list task">

  <ul>
    <li class="heading">Completed Tasks </li>


    <% if @completed_tasks %>
      <% @completed_tasks.each do |task| %>
        <li>
          <%=task.name %>
        </li>
      <% end %>
    <% end %>

  </ul>

</div>

<div class="links">
  <a class="fake_button task" href="/">Return</a>
</div>
