


<ul>

  <% if @todo_list %>
    <% @todo_list.each do |todo| %>
      <li>
        <%=todo.name %>
        <a href ="/generated_list/?id=<%= todo.id %>" >done!</a>
      </li>

    <% end %>
  <% end %>

</ul>



<form action="/delete_list" method="post">
<button>End session</button>
</form>
