<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ToDo</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
<link href="https://fonts.googleapis.com/css?family=Nova+Flat|Raleway:400,700" rel="stylesheet">
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <h1>Dynamic ToDo</h1>
    </div>

    <div class="user">
      <% if User.find_by(id: session[:user_id]) %>
      <h3>
        <%= User.find(session[:user_id]).email %>
      </h3>
      <form class="" action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button >logout</button>
      </form>
      <% end %>
    </div>

  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>

</html>
