

<div class="input task">
  <h2>New Task</h2>

  <form class="" action="/new_task" method="post">
    <input type="hidden" name="project" value="<%=params[:p]%>">
    <label for="">Task</label>
    <input type="text" name="name" value="">
    <label for="">Importance</label>
    <input type="range" name="importance" min="0" max="10" value="5" step="1" />
    <label for="">Urgency</label>
    <input type="range" name="urgency" min="0" max="10" value="5" step="1" />
    <label for="">Estimated Time</label>
    <!-- <input type="time" name="time" min="00:00" max="23:50" step="10" />  -->
    <input type="number" name ="hours" min="0" max="23" value="1" step="1"> hours
    <input type="number" name ="minutes" min="0" max="50" value="0" step="10"> minutes
    <button>add</button>
  </form>

  <a href="/">cancel</a>

</div>
