<h2>new category</h2>

<form class="" action="/new_category" method="post">
  <label for="">Category</label>
  <input type="text" name="name" value="">
  <label for="">Importance</label>
  <input type="range" name="importance" min="0" max="10" value="5" step="1" />
  <button>add</button>
</form>

<a href="/">cancel</a>
