
  <input type="hidden" id="data" value="<%= @data %>" />
    <div class='content'>
      <!-- /the chart goes here -->
    </div>


    <div class="links">
      <a class="fake_button category" href="/">Return</a>
    </div>
    <script type="text/javascript" src="/javascripts/scatterchart.js"></script>
