
<div class="input category">

  <h2>Sign Up</h2>
  <form class="" action="/create_user" method="post">
    <div class="field">
      <label for="">email</label>
      <input type="text" name="email" value="">
    </div>
    <div class="field">
      <label for="">password</label>
      <input type="password" name="password" value="">
    </div>

    <button type="submit">Create Account</button>
  </form>
</div>
