<form class="" action="/create_user" method="post">  <!-- add route!!!!!! -->
  <label for="">email</label>
  <input type="text" name="email" value="">

  <label for="">password</label>
  <input type="password" name="password" value="">

  <button type="submit">Create Account</button>
</form>
