

<p>DynamicToDo lets user dynamically generate a to do list.</p>

<p>Each time a task is entered it is given a score based upon it's importance
and urgency (and the values of the project and category it belongs to). </p>

<p>Then users can generate to do lists for a selected length of time, and the app will
generate a to do list with tasks that are the most effective use of that time.
The importance of a task is given a slightly greater weight than it's urgency.</p>

<p>Benefits of the app:</p>

<ul>


<p>- Always up to date. Tasks and priorities change constantly, DynamicToDo can accommodate
 all changes.</p>
<p> - It encourages good mental hygiene; instead of having a half finished to do list with
 overdue warnings that people feel guilty about even while not doing anything about,
 in Dynamic ToDo there is a much clearer boundary between work time and time off. My hope
 is that the model of app will also influence users' mental models.</p>
<p> - helps reduce decision fatigue</p>
<p> - encourages users to consider the importance and urgency of tasks. There is also a
 scatterplot of all tasks on those two axes, so users can see if they end up with
 a clump of tasks that are all very important and very urgent, and can adjust their
 planning accordingly.</p>

<div class="links">


<a class="fake_button task" href="/login">Log In</a> <a class="fake_button task" href="/signup">Create a New Account</a>

</div>
